/*GENERAL----------------------*/
html {
    box-sizing: border-box;
}
  
*, *::before, *::after {
    box-sizing: inherit;
}

img{
    height: auto;
    width: 100%;
}

body{
    background-color:lightgrey;
}

p{
    font-size: 12px;
    color: rgb(80, 75, 75);
}

h2{
    font-size: 16px;
}
/*SECCIÓN PRINCIPAL------------*/
.contenedor{
    display: flex;
    text-align: center;
    justify-content: center;
    padding: 20%;
}

.principal{
    width: 225px;
    background-color: white;
    padding: 3%;
    border-radius: 5%;
}   

/*RESPONSIVE---------------------*/
@media screen and (max-width: 630px) {
    .contenedor{
        padding: 10%;
    }
}